* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

@font-face {
  font-family: "latest-bold";
  src: url(fonts/latest-med.woff2);
}

@font-face {
  font-family: "latest-medium";
  src: url(fonts/latest.woff2);
}

@font-face {
  font-family: "m-fluent";
  src: url(fonts/MWFFluentIcons.woff2);
}

body {
  letter-spacing: -0.03em;
}

:root {
  --layout-column-width: calc((100% - 1rem) / 2);
  --layout-grid-width: calc((100% - 1rem) / 1);
  --root-depth-color-1: rgba(0, 0, 0, 0.12);
  --root-depth-color-2: rgba(0, 0, 0, 0.14);
  --root-depth-4: 0 0 0.125rem var(--root-depth-color-1, rgba(0, 0, 0, 0.12)),
    0 0.125rem 0.25rem var(--root-depth-color-2, rgba(0, 0, 0, 0.14));
  --root-depth-2: 0 0 0.125rem var(--root-depth-color-1, rgba(0, 0, 0, 0.12)),
    0 0.063rem 0.125rem var(--root-depth-color-2, rgba(0, 0, 0, 0.14));
  --arrow-background-gradient-start-position: 25%;
  --arrow-background-color: white;
}

/* display-none */

.azure-desktop-nav {
  display: none;
}

/*---------------------- main-styles---------------------------- */

.azure-header-container {
  position: relative;
  background-color: #fff;
}

header {
  box-sizing: border-box;
  color: #1a1a1f;
  font-size: 15px;
}

.mobile-nav-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 12px;
}

.azure-home-container {
  min-width: 130px;
  transform: translateY(1px);
}

.azure-home-container button {
  background-color: transparent;
  border: 0;
  text-align: left;
  cursor: pointer;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  width: 44px !important;
  height: 44px;
  line-height: 1;
}

.menu {
  pointer-events: none;
  text-align: left;
}

.menu svg {
  width: 20px;
  overflow: visible;
  fill: currentColor;
  height: auto;
  max-width: 100%;
  vertical-align: unset;
}

.azure-home-container a {
  background-color: transparent;
  text-decoration: none;
  color: currentColor;
  font-size: 17px;
  line-height: 44px;
  font-weight: 600;
  font-family: latest-bold;
  /* font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif; */
}

.windows-logo-container {
  background-color: transparent;
  text-decoration: none;
}

.window-logo-container span {
  width: 32px;
  height: 32px;
  display: inline-block;
  line-height: 0;
  vertical-align: middle;
}

.window-logo-container span svg {
  height: 100%;
  width: 100%;
  fill: currentColor;
  max-width: 100%;
  overflow: visible;
  vertical-align: unset;
}

.search-signin-actions {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  min-width: 130px;
}

.search-btn {
  background-color: transparent;
  border: 0;
  text-align: left;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  width: 44px !important;
  height: 44px;
  line-height: 1;
}

.search-btn::after {
  content: "";
  font-family: m-fluent;
  font-size: 18px;
  transform: translateY(2px);
}

.sign-in-container {
  font-size: 14px;
  align-items: center;
  display: flex;
  line-height: 1;
  margin: 0;
}

.sign-in-container a {
  background-color: transparent;
  text-decoration: none;
  color: currentColor;
  padding: 20px;
  font-weight: 400;
  font-size: 14px;
  line-height: 1;
  font-family: latest-bold;
}

/* --------------------------Main------------------------------------ */
.banner-container {
  position: relative;
}
.banner-video-container {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  transform: unset;
  max-height: 100%;
  overflow: hidden;
  display: block;
  z-index: -1;
}

video {
  object-fit: cover;
  height: 100%;
  width: 100%;
  display: block;
}

.banner-contents-container {
  padding-right: 1rem;
  padding-left: 1rem;
  width: 100%;
  margin-right: auto;
  margin-left: auto;
}

.banner-content-row {
  display: flex;
  flex-wrap: wrap;
  margin-right: -0.25rem;
  margin-left: -0.25rem;
}

.banner-content-col {
  padding-right: 0.25rem;
  padding-left: 0.25rem;
  flex-basis: 0;
  flex-grow: 1;
  max-width: 100%;
}

.azure-sm-banner-title {
  text-transform: uppercase;
  margin: 0 0 0.75rem;
}

.azure-sm-banner-title div {
  font-weight: 600;
  font-size: 0.75rem;
  line-height: 1rem;
  letter-spacing: 0.08em;
  font-family: latest-bold;
}

.banner-main-title {
  color: #0e1726;
  margin: 0;
  font-weight: 600;
  font-size: 3rem;
  line-height: 3.5rem;
  letter-spacing: -0.05em;
}

.banner-main-title h1 {
  font-weight: 600;
  font-size: 2rem;
  line-height: 2.5rem;
  letter-spacing: -0.05em;
  margin-bottom: 0;
  font-family: latest-bold;
}

.banner-contents {
  color: #17253d;
  margin: 0.75rem 0 0;
  font-weight: 400;
  font-size: 1.125rem;
  line-height: 1.75rem;
  letter-spacing: -0.03em;
  font-family: latest-medium;
}

.banner-contents div br {
  display: none;
}

.banner-buttons {
  margin: 1.5rem 0 0;
}

.banner-buttons-container {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}

.banner-buttons-container a {
  border: 2px solid transparent;
  padding: 0.75rem;
  justify-content: center;
  font-weight: 600;
  font-size: 0.9375rem;
  line-height: 1.375rem;
  letter-spacing: -0.02em;
  background-color: #0078d4;
  color: white;
  display: inline-block;
  position: relative;
  text-decoration: none;
  cursor: pointer;
  border-radius: 0.5rem;
}

.banner-buttons-container a span {
  padding-bottom: 0.125rem;
  display: block;
  text-align: center;
  font-family: latest-bold;
}

.try-azure {
  border: 2px solid #89c402 !important;
  background-color: #89c402 !important;
  color: #000 !important;
}

.banner-content-layout {
  flex: 0 0 var(--layout-column-width);
}

.row-section-spacer {
  margin-top: 4rem;
  margin-inline-end: 0;
  display: flex;
  flex-wrap: wrap;
  margin-right: -0.25rem;
  margin-left: -0.25rem;
}

.row-section-spacer div {
  display: flex;
  flex-direction: column;
  gap: 2rem;
  align-items: normal;
  flex-basis: 0;
  flex-grow: 1;
  max-width: 100%;
}

/* ----------------------sticky------------------------------- */

.main-sticky-container {
  height: 56px;
  margin-top: 0px;
  z-index: 500;
  top: 0;
  position: sticky;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
}

.secondary-nav {
  background-color: #fefefe;
  box-shadow: var(--root-depth-2);
}

.secondary-nav nav {
  align-items: center;
}

.sticky-drop-down {
  flex-grow: 1;
  box-shadow: none;
  overflow: initial;
  display: flex;
  background-color: #fefefe;
  position: relative;
  /* width: 100%; */
}

.sticky-drop-down a {
  display: block;
  width: 100%;
  color: #0067b8;
  text-decoration: none;
}

.sm-sticky-positioner {
  padding: 0.75rem 0.75rem;
  column-gap: 0.5rem;
  display: flex;
  /* align-items: center; */
}

.sticky-title {
  flex-grow: 1;
  flex-direction: column;
  display: flex;
  row-gap: 0.25rem;
}

.sticky-title div {
  color: #004275;
  font-size: 0.75rem;
  font-weight: 600;
  line-height: 1rem;
  margin-bottom: 0;
  font-family: latest-bold;
}

.dropdown {
  align-self: self-end;
}

.dropdown-container {
  width: 100%;
  height: 100%;
  max-width: 100%;
  max-height: 100%;
  font-size: 1rem;
  display: inline-flex;
}

.dropdown-container span {
  transform: rotate(0);
  color: #0078d4;
}

.col {
  gap: 0 !important;
}

.dropdown-container span::before {
  content: "";
  font-family: m-fluent;
  font-weight: 400;
  line-height: 1;
  color: #0078d4;
}

.sticky-ruler {
  position: absolute;
  bottom: 0;
  height: 0.25rem;
  width: 100%;
  background-color: #0078d4;
}

.sticky-drop-down ul {
  display: none;
}

.try-azure-sticky {
  display: none;
}

/* -------------------------------------grid-section-------------------------- */

.main-grid-section-container {
  padding-top: 3.5rem;
  padding-bottom: 3.5rem;
  position: relative;
  background-color: #f4fafd;
}

.main-grid-container-positioner {
  padding-right: 1rem;
  padding-left: 1rem;
  width: 100%;
  margin-right: auto;
  margin-left: auto;
}

.main-grid-title-container {
  display: flex;
  flex-wrap: wrap;
  margin-right: -0.25rem;
  margin-left: -0.25rem;
}

.title-col {
  padding-right: 0.25rem;
  padding-left: 0.25rem;
  flex-basis: 0;
  flex-grow: 1;
  max-width: 100%;
  position: relative;
  width: 100%;
}

.title-layout {
  display: flex;
  flex-direction: column;
  column-gap: 0.75rem;
  flex-wrap: wrap;
  row-gap: 0.5rem;
}

.grid-sm-title {
  text-transform: uppercase;
  margin: 0 0 0.5rem;
  color: #17253d !important;
  font-weight: 600;
  font-size: 0.75rem;
  line-height: 1rem;
  letter-spacing: 0.06rem;
  font-family: latest-bold;
}

.block-title {
  font-weight: 600;
  font-size: 1.5rem;
  line-height: 2rem;
  letter-spacing: -0.05rem;
  margin-bottom: 0;
  color: #0e1726;
  margin: 0;
}

.block-title h2 {
  font-weight: 600;
  font-size: 1.5rem;
  line-height: 2rem;
  letter-spacing: -0.05em;
  font-family: latest-bold;
}

.main-grid-section {
  margin-top: 2rem;
  margin-inline-end: 0;
  display: flex;
  flex-wrap: wrap;
  margin-right: -0.25rem;
  margin-left: -0.25rem;
}

.main-grid-col {
  display: flex;
  flex-direction: column;
  gap: 2rem;
  align-items: normal;
  padding-right: 0.25rem;
  padding-left: 0.25rem;
  flex-basis: 0;
  flex-grow: 1;
  max-width: 100%;
  position: relative;
  width: 100%;
}

.grid-three-cards {
  display: flex;
  flex-wrap: wrap;
  column-gap: 0.75rem;
  row-gap: 0.5rem;
}

.main-grid-card {
  flex: 0 0 var(--layout-grid-width);
}

.card-item-container {
  box-shadow: var(--root-depth-4);
  background: #fefefe;
  height: 100%;
  border-radius: 1rem;
  position: relative;
  display: flex;
  flex-direction: column;
  flex: 1 1 auto;
  min-width: 1px;
  word-wrap: break-word;
}

.card-item-img {
  padding-left: 0.5rem;
  padding-right: 0.5rem;
  padding-top: 0.5rem;
}

.card-img-container {
  position: relative;
  display: flex;
  width: inherit;
  max-width: 100%;
  height: auto;
  border-radius: 0.5rem;
}

.card-img {
  display: inherit;
  width: inherit;
  max-width: 100%;
  height: auto;
}

.card-img img {
  max-width: 100%;
  height: auto;
  width: inherit;
  object-fit: inherit;
  border-radius: 0.5rem;
  aspect-ratio: initial;
}

.card-item-contents {
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  position: relative;
  flex: 1 1 auto;
  min-width: 1px;
  word-wrap: break-word;
  background-clip: border-box;
  height: 100%;
  padding: 1rem;
}

.item-card-contents-container {
  align-items: flex-start;
  text-align: left;
  display: flex;
  flex-direction: column;
  gap: 0.75rem;
}

.item-card-title {
  display: flex;
  align-items: flex-start;
  text-align: left;
  gap: 0.75rem;
  flex-direction: row;
}

.item-title-col {
  display: flex;
  align-items: flex-start;
  text-align: left;
  gap: 0.25rem;
  flex-direction: column;
}

.title-empty {
  display: flex;
  gap: 0.25rem;
}

.item-title-block {
  padding-left: initial;
  font-weight: 600;
  font-size: 1.125rem;
  line-height: 1.5rem;
  letter-spacing: -0.03rem;
  margin-bottom: 0;
  color: #0e1726;
  position: relative;
  font-family: latest-bold;
}

.item-title-block h3 {
  font-size: 1.125rem;
}

.item-card-content-section {
  padding-inline-end: 0;
  align-items: flex-start;
  text-align: left;
  gap: 0.75rem;
  display: flex;
  flex-direction: column;
}

.card-contents-container {
  font-weight: 400;
  font-size: 1rem;
  line-height: 1.5rem;
  letter-spacing: -0.03rem;
  margin-bottom: 0;
  color: #17253d;
  text-align-last: start;
  font-family: latest-medium;
}

.item-card-btn-container {
  margin-top: 2rem;
  display: flex;
  justify-content: flex-start;
  flex-direction: row;
  gap: initial;
  word-break: break-word;
}

.item-card-btn-container a {
  color: #004275;
  text-decoration: none;
  font-weight: 600;
  font-size: 0.875rem;
  line-height: 1.25rem;
  text-decoration-line: none;
  display: inline-flex;
  align-items: center;
  gap: 0.5rem;
}

.card-blue-btn-container {
  flex-grow: 1;
  padding: 0.5rem;
  display: flex;
  align-items: center;
  gap: 0.25rem;
  border: 2px solid transparent;
  justify-content: center;
  font-weight: 600;
  font-size: 0.9375rem;
  line-height: 1.375rem;
  letter-spacing: -0.02rem;
  background-color: #0078d4;
  color: #fff;
  border-radius: 0.5rem;
  position: relative;
  text-decoration: none;
  cursor: pointer;
}

.card-blue-btn-container span {
  display: flex;
  align-items: center;
}

.card-blue-btn-container span::before {
  content: "";
  font-family: m-fluent;
  font-weight: 400;
  line-height: 1;
}

.card-btn-text {
  padding-bottom: 0.125rem;
  color: #004275;
  font-weight: 600;
  font-size: 0.875rem;
  line-height: 1.25rem;
  font-family: latest-bold;
}

/* ------------------------------------SOLUTIONS SECTION--------------------- */

.solutions-background-container {
  position: absolute;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
  transform: unset;
  max-height: 100%;
  overflow: hidden;
  display: block;
}

.img-media {
  width: 100%;
  height: 100%;
  max-width: 100%;
  display: inherit;
}

picture {
  width: inherit;
  max-width: inherit;
  object-fit: contain;
  border-radius: inherit;
  aspect-ratio: initial;
}

.sm-sol-img {
  width: 100%;
  height: 100%;
  max-width: inherit;
  vertical-align: middle;
}

.container {
  padding-right: 1rem;
  padding-left: 1rem;
  width: 100%;
  margin-right: auto;
  margin-left: auto;
}

.row-title {
  margin-right: -0.25rem;
  margin-left: -0.25rem;
  display: flex;
  flex-wrap: wrap;
  position: relative;
}

.row-section-master {
  margin-top: 1.5rem;
  margin-inline-end: 0;
  margin-right: -0.25rem;
  margin-left: -0.25rem;
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  gap: 1.5rem;
  align-items: normal;
}

.pill-bar-tabs {
  display: flex;
  flex-direction: column;
}

.pill-br-solutions {
  padding-left: 0;
  padding-right: 0;
  position: relative;
  width: 100%;
}

.tab-overflow {
  overflow-x: scroll;
  overflow-y: hidden;
  scrollbar-width: none;
}

.tab-window {
  width: 750px;
}

.tab-group {
  display: flex;
  flex-wrap: nowrap;
  position: relative;
  z-index: 0;
  justify-content: start;
}

.pill-bar-btn {
  background-color: rgba(0, 85, 151, 0.1);
  color: #004275;
  z-index: 1;
  margin-right: 0.5rem;
  font-weight: 600;
  text-decoration: none;
  flex: 0 0 auto;
  padding: 0.5rem 1rem;
  white-space: nowrap;
  border-radius: 12.5rem;
  border: none !important;
  text-transform: none;
  font-family: latest-bold;
  font-size: 1rem;
  line-height: 1.5rem;
  letter-spacing: -0.03rem;
}

.pill-bar-btn:nth-child(1) {
  background-color: #005597;
  color: #fff;
}

.pill-bar-btn span {
  padding-bottom: 0.125rem;
  font-weight: 600;
  letter-spacing: 0;
}

.tab-arrows {
  display: block;
  color: #004275;
}

.arrow-next {
  display: block;
  right: -0.25rem;
  background: linear-gradient(
    270deg,
    var(--arrow-background-color, #f2f2f2)
      var(--arrow-background-gradient-start-position),
    rgba(242, 242, 242, 0) 100%
  );
  border: 2px solid #004275;
  padding: 0;
  /* width: 2.25rem; */
  width: 40px;
  color: #000;
  position: absolute;
  height: 40px;
  top: 0;
  z-index: 2;
  border-radius: 12.5rem;
}

.arrow-next span {
  position: relative;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  overflow: hidden;
  clip: rect(1px, 1px, 1px, 1px);
  white-space: nowrap;
  border: 0;
  color: #000;
}

.arrow-next span::after {
  font-size: 1.125rem;
  font-weight: 400;
  color: #004275;
  content: "";
  font-family: m-fluent;
}

.arrow-next-container {
  color: #000;
  position: absolute;
  /* height: 100%; */
  top: 0;
  height: 42px;
  border-radius: 0;
  z-index: 1;
  width: 20vw;
  border: none;
  right: -0.25rem;
  background: linear-gradient(
    270deg,
    var(--arrow-background-color, #f2f2f2)
      var(--arrow-background-gradient-start-position),
    rgba(242, 242, 242, 0) 100%
  );
}

.solutions-section {
  position: relative;
}

.row {
  display: flex;
  flex-wrap: wrap;
}

.row-solution-col {
  flex-basis: 0;
  flex-grow: 1;
  max-width: 100%;
  position: relative;
  width: 100%;
}

.tab-panel-group {
  position: relative;
  margin: 1.5rem 0 0 0;
}

.accordion {
  padding-left: 0;
  margin-bottom: 0;
}

.accordion-vertical {
  display: flex;
  flex-direction: row;
  position: relative;
}

.multi-feature {
  display: flex;
  width: 100%;
}

.multi-feature ul:first-child {
  overflow-y: auto;
}

.multi-feature ul {
  overflow: hidden;
  color: #17253d;
  padding: 0;
  flex-basis: 100%;
  list-style: none;
}

.multi-feature ul li {
  display: flex;
  list-style: none;
}

.indicator {
  display: block;
  opacity: 1;
  transform: scaleY(1);
  border-radius: 0.25rem;
  width: 0.25rem;
  height: auto;
  background-color: #0078d4;
}

.accordion-item-content {
  margin-left: 2rem;
  width: 100%;
  border-bottom: 0.0625rem solid #bdc5d2;
}

.accordion-title {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}

.accordion-title-btn {
  padding-top: 0 !important;
  text-align: left;
  display: flex;
  flex-direction: row-reverse;
  justify-content: flex-end;
  width: 100%;
  line-height: inherit;
  gap: 0.5rem;
  padding: 1.5rem 0 !important;
  align-items: center;
  border: none;
  outline: none;
  color: #0e1726;
  background: 0 0;
}

.accordion-title-btn::before {
  transform: rotate(-180deg);
  line-height: 1.5625rem;
  top: auto;
  margin-top: auto;
  font-family: m-fluent;
  content: "";
  font-size: 1em;
}

.accordion-title-btn h3 {
  font-weight: 600;
  font-size: 1.125rem;
  line-height: 1.5rem;
  letter-spacing: -0.03rem;
  margin-bottom: 0;
  font-family: latest-bold;
}

.accordion-item-body {
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
  padding-bottom: 1.5rem;
}

.accent-subtle {
  color: #002948;
  font-weight: 400;
  font-size: 1rem;
  line-height: 1.5rem;
  letter-spacing: -0.03rem;
  font-family: latest-medium;
}

.link-title a {
  margin-bottom: 1.5rem;
  text-underline-offset: 0.125rem;
  color: #004275;
  font-weight: 600;
  font-size: 0.875rem;
  line-height: 1.25rem;
  text-decoration-line: underline;
  display: inline-flex;
  align-items: center;
  gap: 0.5rem;
}

.link-title a span {
  padding-bottom: 0.125rem;
  font-family: latest-bold;
}

.solution-media {
  display: flex;
  position: relative;
  width: fit-content;
  justify-content: center;
  align-items: center;
  max-width: 100%;
  height: auto;
}

.solution-media-img {
  display: inherit;
  width: inherit;
  max-width: 100%;
  height: auto;
  border-radius: 1rem;
}

.solution-media-img img {
  height: inherit;
  max-width: inherit;
  width: inherit;
  /* object-fit: ; */
  border-radius: 1rem !important;
  /* aspect-ratio: 455/366; */
  vertical-align: middle;
}

.media-pause {
  position: absolute;
  padding: 075rem;
}

.media-pause a {
  display: flex;
  align-items: center;
  gap: 0.75rem;
  width: fit-content;
  border: 2px solid transparent;
  padding: 0.875rem;
  justify-content: center;
  font-weight: 600;
  font-size: 0.9375rem;
  line-height: 1.375rem;
  letter-spacing: -0.02rem;
  background-color: #0078d4;
  color: #fff;
  border-radius: 0.5rem;
  position: relative;
  text-decoration: none;
}

.pause-icon {
  width: 100%;
  height: 100%;
  max-width: 100%;
  max-height: 100%;
  font-size: 1rem;
  display: inline-flex;
}

.pause-icon span {
  display: flex;
  align-items: center;
  color: inherit;
}

.pause-icon span::before {
  content: "";
  font-family: m-fluent;
  font-weight: 400;
  line-height: 1;
  font-size: 1rem;
}

.accordion-btn-container {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}

.accordion-btn-container button {
  text-align: left;
  display: flex;
  flex-direction: row-reverse;
  justify-content: flex-end;
  width: 100%;
  line-height: inherit;
  gap: 0.5rem;
  padding: 1.5rem 0 !important;
  align-items: center;
  border: none;
  outline: 0;
  color: #0e1726;
  background: 0 0;
}

.accordion-btn-container button::before {
  font-family: m-fluent;
  content: "";
  font-size: 1em;
  line-height: 1.5625rem;
  margin-top: auto;
}

.accordion-btn-container button h3 {
  font-weight: 600;
  font-size: 1.125rem;
  line-height: 1.5rem;
  letter-spacing: -0.03rem;
  margin-bottom: 0;
  font-family: latest-bold;
}

.bg-blue-btn a {
  color: #004275;
  font-weight: 600;
  font-size: 0.875rem;
  line-height: 1.25rem;
  text-decoration: none;
  display: inline-flex;
  align-items: center;
  gap: 0.5rem;
}

.sol-btn-text {
  z-index: 1;
}

.col {
  padding-left: 0.25rem;
  padding-right: 0.25rem;
  flex-basis: 0;
  flex-grow: 1;
  max-width: 100%;
}

.layout-col {
  flex: 0 0 var(--layout-column-width);
}

.solutions-section {
  overflow: hidden;
}

/* ===============================PRODUCTS-SECTION================ */

.card-grid {
  display: flex;
  flex-wrap: wrap;
  margin-right: -0.25rem;
  margin-left: -0.25rem;
  row-gap: 0.75rem;
}

.promo-card-grid {
  padding-right: 0.25rem;
  flex-basis: 0;
  flex-grow: 1;
  max-width: 100%;
  position: relative;
  width: 100%;
  aspect-ratio: 19.09 / 9;
}

.promo-card {
  color: #dceef8;
  position: relative;
  height: 100%;
  overflow: hidden;
  border-radius: 1rem;
  background: linear-gradient(0deg, rgba(4, 13, 18, 0) 0%, #040d12 100%);
  box-shadow: 0 0 0.125rem rgba(0, 0, 0, 0.12),
    0 0.125rem 0.25rem rgba(0, 0, 0, 0.14);
}

.promo-card-img-overlay {
  border-radius: inherit;
}

.promo-card-img-overlay::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  width: 100%;
  height: 100%;
  background: linear-gradient(0deg, rgba(4, 13, 18, 0) 0%, #040d12 100%);
}

.overlay-container {
  display: flex;
  width: inherit;
  max-width: 100%;
  border-radius: inherit;
  height: inherit;
  position: unset;
}

.overlay-img {
  display: flex;
  width: 100%;
  height: 100%;
  max-width: 100%;
}

.overlay-img img {
  width: inherit;
  height: inherit;
  max-width: inherit;
  object-fit: cover;
  border-radius: 1rem;
  aspect-ratio: 19/9;
  vertical-align: middle;
}

.promo-card-content {
  padding: 1rem;
  position: inherit;
  bottom: 0;
}

.promo-card-content-block {
  display: flex;
  flex-direction: column;
  gap: 0.75rem;
  align-items: flex-start;
  text-align: left;
}

.promo-card-title {
  display: flex;
  flex-direction: row;
}

.promo-card-title-contianer {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  align-items: flex-start;
  text-align: left;
}

.promo-title-text {
  font-size: 1.25rem;
  line-height: 1.75rem;
  letter-spacing: -0.05em;
  margin-bottom: 0;
  padding-left: initial;
  font-family: latest-bold;
}

.promo-card-contents {
  display: flex;
  flex-direction: column;
  text-align: left;
  align-items: flex-start;
  gap: 0.75rem;
}

.promo-card-main-content {
  font-weight: 400;
  font-size: 1rem;
  line-height: 1.5rem;
  letter-spacing: -0.03em;
  margin-bottom: 0;
  color: #dceef8;
  font-family: latest-medium;
}

.promo-card-btn {
  width: 100%;
}

.promo-btn-block {
  display: inline-flex;
  flex-direction: column;
  justify-content: flex-start;
}

.promo-btn-block a {
  border: 2px solid transparent;
  padding: 0.75rem;
  font-weight: 600;
  font-size: 0.9375rem;
  line-height: 1.375rem;
  letter-spacing: -0.02em;
  background-color: #b3daf0;
  color: #0e1726;
  border-radius: 0.5rem;
  display: inline-block;
  cursor: pointer;
  text-decoration: none;
  font-family: latest-bold;
}

.promo-btn-block a span {
  padding-bottom: 0.125rem;
  display: block;
  text-align: center;
}

.card-grid-cards {
  padding: 0 0.25rem;
  position: relative;
  width: 100%;
}

.cards-layout {
  display: flex;
  flex-wrap: wrap;
  row-gap: 0.75rem;
  height: 100%;
}

.cards-layout-col {
  flex-direction: 0 0 var(--layout-grid-width);
}

.card {
  display: flex;
  flex-direction: column;
  flex: 1 1 auto;
  min-width: 1px;
  word-wrap: break-word;
  box-shadow: 0 0 0.125rem rgba(0, 0, 0, 0.12),
    0 0.125rem 0.25rem rgba(0, 0, 0, 0.14);
  background-color: #fefefe;
  border-radius: 1rem;
  height: 100% !important;
  position: relative;
}

.card-contents {
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  flex: 1 1 auto;
  min-width: 1px;
  height: 100%;
  background-clip: border-box;
  padding: 1rem;
}

.card-content-block {
  display: flex;
  align-items: flex-start;
  text-align: left;
  flex-direction: column;
  gap: 0.75rem;
  word-wrap: break-word;
}

.card-icon-container {
  background-color: #fefefe;
  border: 0.0625rem solid #e6f2fb;
  border-radius: 0.5rem;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  padding: 0;
  font-size: unset;
  width: 3rem;
  height: 3rem;
  font-weight: 600;
  line-height: 1;
  text-decoration: none;
  vertical-align: top;
  max-width: 100%;
  overflow-wrap: break-word;
  word-break: break-word;
}

.icon-section {
  width: 100%;
  height: 100%;
  max-width: 24px;
  max-height: 24px;
  font-size: 1.5rem;
}

.icon-section div {
  display: flex;
  width: inherit;
  max-width: 100%;
  height: auto;
}

.icon-section div img {
  width: 100%;
  height: 100%;
  max-width: 24px;
  max-height: 24px;
  font-size: 1.5rem;
}

.card-main-content-section {
  display: flex;
  flex-direction: column;
  gap: 0.75rem;
  text-align: left;
  align-items: flex-start;
}

.card-content-title {
  font-size: 1.125rem;
  font-weight: 600;
  font-family: latest-bold;
  line-height: 1.5rem;
  letter-spacing: -0.03em;
  color: #002948;
}

.card-content-title h4 {
  font-size: 1.25rem;
  font-weight: 600;
  line-height: 1.75rem;
  letter-spacing: -0.05em;
}

/* -----------------------------Media Query---------------------------------- */
@media screen and (max-width: 540px) {
  .banner-content-layout div {
    margin-left: initial;
    margin-right: initial;
  }

  .banner-content-row {
    margin-right: -0.25rem;
    margin-left: -0.25rem;
  }

  /* .tab-panel-group{
        position: relative;
        margin: 0 0 0;
    } */

  .tab-items-container {
    display: block;
  }

  .promo-card-img-overlay {
    width: 100%;
    position: absolute;
  }
}

@media screen and (max-width: 859.98px) {
  .indicator {
    display: none;
    opacity: 0;
  }

  .accordion-item-content {
    margin-left: 0;
  }
}

@media screen and (min-width: 540px) {
  .main-grid-section-container {
    padding-top: 3.5rem;
    padding-bottom: 3.5rem;
  }

  .main-grid-container-positioner {
    padding-right: 4rem;
    padding-left: 4rem;
  }

  .row {
    margin-right: -0.25rem;
    margin-left: -0.25rem;
  }

  .col {
    padding-left: 0.25rem;
    padding-right: 0.25rem;
  }

  .row-solution-col {
    padding-right: 0.25rem;
    padding-left: 0.25rem;
  }

  .container {
    padding-right: 4rem;
    padding-left: 4rem;
  }
}

@media screen and (max-width: 859.98px) {
  .banner-content-layout div {
    margin-left: initial;
    margin-right: initial;
  }

  .sticky-drop-down {
    margin: 0.25rem;
  }
}
@media screen and (max-width: 859.98px) {
  .banner-content-layout {
    margin-top: 2rem;
  }
}

@media screen and (min-width: 540px) {
  .banner-contents-container {
    padding-right: 4rem;
    padding-left: 4rem;
  }
  .banner-buttons-container {
    flex-direction: row;
  }
}

@media screen and (min-width: 860px) {
  .banner-container {
    padding-top: 6rem;
    padding-bottom: 6rem;
    height: 628px;
  }

  .banner-contents-container {
    max-width: 100vw;
    padding-right: 3.5rem;
    padding-left: 3.5rem;
  }

  .banner-content-row {
    margin-right: -0.5rem;
    margin-left: -0.5rem;
  }

  .banner-content-col {
    padding-right: 0.5rem;
    padding-left: 0.5rem;
  }

  .banner-main-layout {
    align-items: center;
    justify-content: initial;
    display: flex;
    flex-direction: row;
    column-gap: 1rem;
    row-gap: 0.5rem;
    margin-top: 7px;
  }

  .azure-sm-banner-title {
    margin: 0 0 1rem;
  }

  .banner-main-title h1 {
    font-size: 2.5rem;
    line-height: 3rem;
    letter-spacing: -0.05em;
    margin-bottom: 0;
  }

  .banner-contents {
    margin: 1rem 0 0;
  }

  .banner-contents div {
    max-width: 656px;
  }

  .banner-buttons {
    margin: 2rem 0 0;
  }

  .banner-buttons-container a {
    padding: 0.75rem 1rem;
  }

  .main-sticky-container {
    height: 108px;
  }
  .sticky-drop-down a {
    display: none;
  }

  .sticky-drop-down ul {
    display: flex;
    column-gap: 3rem;
    overflow: hidden;
    box-shadow: none;
    background-color: #fefefe;
    border: none;
    text-align: left;
    left: 0;
    right: auto;
    transform: unset;
    flex-wrap: wrap;
    padding: 0 !important;
    position: relative;
    border-radius: 0;
    padding-bottom: 0.25rem !important;
    margin-top: 0;
    flex-grow: 1;
  }

  .sticky-drop-down ul li:nth-child(1) {
    padding-left: 0.25rem;
  }

  .sticky-drop-down ul li {
    /* padding-left: 0.25rem; */
    margin-top: 1rem;
    width: fit-content;
    display: flex;
  }

  .sticky-drop-down ul li a {
    display: flex;
    flex-direction: column-reverse;
    padding: 0;
    border-radius: 0;
    align-items: start;
    /* justify-content: space-between; */
    width: fit-content;
    background-color: transparent;
    text-decoration: none;
    color: #0067b8;
  }

  .sticky-link-ruler {
    width: 100%;
    height: 0.25rem;
    margin-bottom: -0.25rem;
    border-radius: 0.25rem;
    background-color: #0078d4;
  }

  .sticky-content {
    width: 100%;
    padding-bottom: 1rem;
  }

  .sticky-nav {
    padding-right: 3.5rem;
    padding-left: 3.5rem;
    display: flex;
    flex-grow: 1;
    flex-direction: row;
    font-weight: 600;
    font-size: 0.875rem;
    line-height: 1.25rem;
    color: #004275;
    font-family: latest-bold;
    max-width: 100vw;
    align-items: center;
  }

  .sticky-drop-down {
    overflow: hidden;
  }
  .sticky-content div {
    color: #004275;
  }

  .slr {
    background: transparent;
  }

  .try-azure-sticky {
    display: flex;
    margin-bottom: 0.75rem;
    margin-top: 0.75rem;
    max-width: 131.9px;
    height: 58px;
    width: 100%;
  }

  .try-azure-sticky a {
    /* transform: translateY(7px); */
    background-color: #89c402;
    color: #000;
    border-color: #89c402;
    border: 2px solid #89c402;
    padding: 0.25rem 0.75rem;
    font-weight: 600;
    font-size: 0.9375rem;
    line-height: 1.375rem;
    letter-spacing: -0.02em;
    border-radius: 0.5rem;
    display: inline-block;
    display: flex;
    cursor: pointer;
    position: relative;
    text-decoration: none;
    /* height: 50px;
        width: 100px; */
  }

  .try-azure-sticky a span {
    padding-bottom: 0.125rem;
    display: block;
    text-align: center;
  }

  .main-grid-section-container {
    padding-top: 6rem;
    padding-bottom: 6rem;
  }

  .main-grid-container-positioner {
    max-width: 100vw;
    padding-right: 3.5rem;
    padding-left: 3.5rem;
  }

  .main-grid-title-container {
    margin-right: -0.5rem;
    margin-left: -0.5rem;
  }

  .title-col {
    padding-left: 0.5rem;
    padding-right: 0.5rem;
  }

  .title-layout-section {
    justify-content: flex-start;
    align-items: flex-start;
    padding-top: 0;
    padding-bottom: 0;
    display: flex;
  }

  .main-grid-section {
    margin-top: 3rem;
    margin-left: -0.5rem;
    margin-right: -0.5rem;
  }

  .grid-three-cards {
    column-gap: 1rem;
  }

  .card-item-container {
    border-radius: 1.5rem;
  }

  .grid-three-cards > div {
    flex: 1 1 calc(33.333% - 1rem);
  }

  .card-item-contents {
    padding: 1.5rem;
  }

  .item-title-block {
    font-size: 0.9375rem;
  }

  .item-card-content-section {
    padding-inline-end: 1.5rem;
  }

  .container {
    max-width: 100vw;
    padding-left: 3.5rem;
    padding-right: 3.5rem;
    width: 100%;
    margin-left: auto;
    margin-right: auto;
  }

  .row-title {
    margin-right: -0.5rem;
    margin-left: -0.5rem;
  }

  .col {
    padding-left: 0.5rem;
    padding-right: 0.5rem;
  }

  .layout-section {
    display: flex;
    flex-direction: row;
    column-gap: 1rem;
    flex-wrap: wrap;
    row-gap: 0.5rem;
  }

  .row-section-master {
    margin-top: 2rem;
  }

  .row {
    margin-right: -0.5rem;
    margin-left: -0.5rem;
  }

  .tab-panel-group {
    margin: 2rem 0 0 0;
  }

  .multi-feature {
    height: 100vh !important;
    max-height: 492px;
    overflow: hidden;
    display: flex;
  }

  .multi-feature ul {
    flex-basis: calc(33% - 1rem / 2);
  }

  .accordion-item-content {
    margin-left: 3rem;
  }

  .accordion-title-btn {
    padding: 2rem 0 !important;
  }

  .accordion-item-body {
    gap: unset;
    padding-bottom: 2rem;
  }

  .accordion-btn-container button {
    padding: 2rem 0 !important;
  }

  .link-title a {
    margin-top: 2rem;
    margin-bottom: 0;
  }

  .solution-media {
    right: 0;
    position: absolute;
    width: 50%;
    height: auto;
    max-width: 656px;
    max-height: 525px;
    aspect-ratio: 4 / 3;
    top: 0;
  }

  .solution-media-img {
    width: 100%;
    height: 100%;
    border-radius: 1.5rem;
  }

  .solution-media-img img {
    border-radius: 1.5rem !important;
  }

  .pill-bar-btn {
    padding: 0.5rem 1.5rem;
  }

  .accordion-title-btn {
    padding-top: 0 !important;
  }
}

@media screen and (min-width: 48em) {
  header {
    max-width: 1600px;
    display: flex;
    align-items: center;
    margin-left: auto;
    margin-right: auto;
  }
  .mobile-nav-container {
    display: none;
  }

  .azure-desktop-nav {
    display: flex;
    align-items: center;
    width: 100%;
    position: relative;
    border-bottom: 1px solid transparent;
    overflow-x: unset;
    /* height: 55px; */
  }

  .left-nav {
    background-color: inherit;
    border: none;
    padding: 0 12px;
    width: auto;
    margin-right: auto;
    display: flex;
    align-items: center;
  }

  .azure-windows {
    display: flex;
    align-items: center;
  }

  .azure-windows a {
    background-color: transparent;
    color: currentColor;
    text-decoration: none;
  }

  .azure-windows a span {
    height: 24px;
    width: 24px;
    display: inline-block;
    vertical-align: middle;
  }

  .azure-windows a span svg {
    height: 100%;
    width: 100%;
    fill: currentColor;
    max-width: 100%;
    overflow: visible;
    vertical-align: unset;
    transform: translateY(1px);
  }

  .azure-heading {
    background-color: transparent;
    color: currentColor;
    text-decoration: none;
    margin-left: 12px;
    font-size: 18px;
    font-weight: 600;
    font-family: latest-bold;
  }

  .left-nav ul {
    list-style: none;
    margin: 0;
    background-color: inherit;
    display: inline-flex;
    margin-left: 12px;
    padding: 0;
  }

  .left-nav ul li {
    font-size: 14px;
    align-items: center;
    display: flex;
    line-height: 1;
    margin: 0;
  }

  .nav-list {
    width: initial;
    background-color: transparent;
    border: 0;
    text-align: left;
    font-family: latest-medium;
    font-size: 13px;
    padding: 20px 8px;
    align-items: center;
    justify-content: space-between;
    display: flex;
    font-weight: 400;
  }

  .nav-list::after {
    content: "\e70d";
    font-family: m-fluent;
    margin: 2px 0px 0px 4px;
    font-size: 8px;
    padding-top: 4px;
    float: right;
  }

  .nav-search-form {
    display: none;
  }

  .right-nav {
    position: relative;
    display: flex;
    align-items: center;
  }
  .option-btn-nav {
    background-color: transparent;
    border: 0;
    text-align: left;
  }

  .option-btn-nav span {
    height: 24px;
    width: 24px;
    display: inline-block;
    line-height: 0;
    vertical-align: middle;
  }

  .option-btn-nav span a {
    height: 100%;
    width: 100%;
    max-width: 100%;
    overflow: visible;
    vertical-align: unset;
  }

  .utility-nav {
    display: none;
  }

  .right-signin {
    border: 0;
    font-weight: 400;
    align-items: center;
    display: flex;
    line-height: 1;
    margin: 0;
  }

  .right-signin a {
    text-decoration: none;
    color: currentColor;
    background-color: transparent;
    font-size: 13px;
    padding: 20px 8px;
    text-align: right;
    white-space: nowrap;
    width: 100%;
  }
}

/* -------------------minwidth67.5em------------------- */

@media screen and (min-width: 67.5em) {
  .right-search {
    display: none;
  }

  .option-btn-nav {
    display: none;
  }

  .right-signin {
    display: none;
  }

  .azure-heading {
    margin-left: 24px;
  }

  .left-nav ul {
    margin-left: 24px !important;
  }

  .nav-search-form {
    display: flex;
    align-items: center;
    position: relative;
    margin-right: 12px;
    width: 120px;
    z-index: 1;
  }

  .search-form-container {
    width: 120px;
    position: relative;
    justify-content: flex-start;
    display: flex;
    align-items: center;
  }

  .search-form-container input {
    color: #4c4c51;
    font-size: 13px;
    padding-left: 12px;
    padding-right: 24px;
    min-height: 32px;
    border: 1px solid #747479;
    display: block;
    line-height: 1.2;
    width: 100%;
    border-radius: 0.3rem;
    font-family: latest-medium;
  }

  .search-btn {
    right: 8px;
    top: 1px;
    position: absolute;
    width: 24px !important;
    height: 24px;
  }

  .search-btn::after {
    font-size: 14px;
  }

  .utility-nav {
    position: relative;
    display: flex;
    align-items: center;
  }

  .utility-nav ul {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
    align-items: center;
  }

  .utility-nav ul li {
    border: 0;
    font-weight: 400;
    font-size: 14px;
    display: flex;
    align-items: center;
    line-height: 1;
    margin: 0;
  }

  .utility-nav ul li a {
    text-decoration: none;
    color: currentColor;
    font-size: 13px;
    text-align: center;
    padding: 20px 8px;
    font-weight: 400;
    font-family: latest-medium;
  }

  .free-green {
    background-color: #89c402;
    border: 1px solid #6f9e02;
    border-radius: 4px;
    color: #1a1a1f;
    display: inline-block;
    font-size: 12px;
    padding: 9px;
    line-height: 1;
    text-align: center;
    text-decoration: none;
    margin: 0 6px;
    font-weight: 600;
    line-height: 1;
    font-family: latest-bold;
  }

  .azure-desktop-nav {
    height: 54px;
  }
}

@media screen and (min-width: 936px) {
  .main-sticky-container {
    height: 56px;
    margin-top: 0px;
  }

  .try-azure-sticky {
    margin: 0;
    /* height: 24px; */
  }
  .try-azure-sticky a {
    max-width: 142px;
    max-height: 36px;
    padding: 4px 12px;
    margin-top: 10px;
    height: 100%;
    width: 100%;
    white-space: nowrap;
    display: flex;
    align-items: center;
  }

  .sticky-drop-down ul {
    margin-top: -2px;
  }

  .card-img img {
    border-radius: 1rem;
  }

  .main-grid-col {
    padding-right: 1rem;
    padding-left: 0.5rem;
  }
}

@media screen and (min-width: 964px) {
  .arrow-tab {
    display: none;
  }
}

/* ------------------------------------1084px--------------------- */

@media screen and (min-width: 1084px) {
  .banner-contents-container {
    width: 90%;
    margin-right: auto;
    margin-left: auto;
    box-sizing: content-box;
  }

  .try-azure-sticky {
    max-width: 142.8px;
  }
}

/* ------------------minwidth 1280px---------------------------- */

@media screen and (min-width: 1280px) {
  .nav-search-form {
    margin-right: 24px;
  }
}

@media screen and (min-width: 1395px) {
  .banner-container div br {
    display: block;
  }
}

/*--------------------------------1440px-------------------------- */

@media screen and (min-width: 1440px) {
  .banner-contents-container {
    max-width: 1328px;
  }
  .banner-main-layout {
    margin-top: 52px;
  }

  .banner-content-row {
    margin-right: -0.5rem;
    margin-left: -0.5rem;
  }

  .banner-content-col {
    padding-right: 0.5rem;
    padding-left: 0.5rem;
  }

  .azure-sm-banner-title {
    margin: 0 0 1rem;
  }

  .banner-main-title h1 {
    font-size: 3rem;
    line-height: 3.5rem;
    letter-spacing: -0.05em;
  }

  .banner-contents {
    margin: 1rem 0 0;
    font-size: 1.25rem;
    line-height: 2rem;
  }

  .sticky-nav {
    max-width: 1328px;
    padding-right: 5%;
    padding-left: 5%;
    width: 90%;
    box-sizing: content-box;
    margin-left: auto;
    margin-right: auto;
  }

  .main-grid-container-positioner {
    max-width: 1328px;
    padding-right: 5%;
    padding-left: 5%;
    width: 90%;
    box-sizing: content-box;
    margin-left: auto;
    margin-right: auto;
  }

  .block-title h2 {
    font-size: 2rem;
    line-height: 2.5rem;
    /* letter-spacing: -0.1em; */
  }

  .secondary-nav {
    height: 56px;
  }

  .container {
    max-width: 1328px;
    padding-right: 5%;
    padding-left: 5%;
    width: 90%;
    box-sizing: content-box;
    margin-left: auto;
    margin-right: auto;
  }

  .row-section-master {
    margin-left: -0.5rem;
    margin-right: -0.5rem;
    gap: 2rem;
  }

  .col {
    gap: 0;
  }

  .item-card-btn-container {
    margin-top: 3rem;
  }

  .accordion-title-btn {
    padding-top: 0 !important;
  }

  .accordion-title-btn h3 {
    font-size: 1.25rem;
    line-height: 1.75rem;
  }

  .accordion-title-btn::before {
    font-size: 1.25em;
  }

  .accordion-btn-container button {
    transform: translateX(4px);
  }
  .accordion-btn-container button h3 {
    font-size: 1.25rem;
    line-height: 1.75rem;
    letter-spacing: -0.03em;
  }
}
