*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


@font-face {
    font-family: "latest-bold";
    src: url(fonts/latest-med.woff2);
}

@font-face {
    font-family: "latest-medium";
    src: url(fonts/latest.woff2);
}

@font-face {
    font-family: "m-fluent";
    src: url(fonts/MWFFluentIcons.woff2);
}

body{
    letter-spacing: -0.03em;
}


:root {
    --layout-column-width: calc((100% - 1rem) / 2);
  }
  

/* display-none */

.azure-desktop-nav{
    display: none;
}



/*---------------------- main-styles---------------------------- */

.azure-header-container{
    position: relative;
    background-color: #fff;
}

header{
    box-sizing: border-box;
    color: #1a1a1f;
    font-size: 15px;
}

.mobile-nav-container{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 12px;

}

.azure-home-container{
    min-width: 130px;
    transform: translateY(1px);
}

.azure-home-container button{
    background-color: transparent;
    border: 0;
    text-align: left;
    cursor: pointer;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    width: 44px !important;
    height: 44px;
    line-height: 1;
}

.menu{
    pointer-events: none;
    text-align: left;
}

.menu svg{
    width: 20px;
    overflow: visible;
    fill: currentColor;
    height: auto;
    max-width: 100%;
    vertical-align: unset;
}

.azure-home-container a{
    background-color: transparent;
    text-decoration: none;
    color: currentColor;
    font-size: 17px;
    line-height: 44px;
    font-weight: 600;
    font-family: latest-bold;
    /* font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif; */
}

.windows-logo-container{
    background-color: transparent;
    text-decoration: none;

}

.window-logo-container span{
    width: 32px;
    height: 32px;
    display: inline-block;
    line-height: 0;
    vertical-align: middle;
}

.window-logo-container span svg{
    height: 100%;
    width: 100%;
    fill: currentColor;
    max-width: 100%;
    overflow: visible;
    vertical-align: unset;
}

.search-signin-actions{
    display: flex;
    align-items: center;
    justify-content: flex-end;
    min-width: 130px;

}

.search-btn{
    background-color: transparent;
    border: 0;
    text-align: left;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    width: 44px !important;
    height: 44px;
    line-height: 1;
}

.search-btn::after{
    content: "";
    font-family: m-fluent;
    font-size: 18px;
    transform: translateY(2px);

}

.sign-in-container{
    font-size: 14px;
    align-items: center;
    display: flex;
    line-height: 1;
    margin: 0;

}

.sign-in-container a{
    background-color: transparent;
    text-decoration: none;
    color: currentColor;
    padding: 20px;
    font-weight: 400;
    font-size: 14px;
    line-height: 1;
    font-family: latest-bold;
}

/* --------------------------Main------------------------------------ */
.banner-container{
    position: relative;
}
.banner-video-container{
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    transform: unset;
    max-height: 100%;
    overflow: hidden;
    display: block;
    z-index: -1;
}

video{
    object-fit: cover;
    height: 100%;
    width: 100%;
    display: block;
}


.banner-contents-container{
    padding-right: 1rem;
    padding-left: 1rem;
    width: 100%;
    margin-right: auto;
    margin-left: auto;

}

.banner-content-row{
    display: flex;
    flex-wrap: wrap;
    margin-right: -.25rem;
    margin-left: -.25rem;
}

.banner-content-col{
    padding-right: .25rem;
    padding-left: .25rem;
    flex-basis: 0;
    flex-grow: 1;
    max-width: 100%;
}

.azure-sm-banner-title{
    text-transform: uppercase;
    margin: 0 0 0.75rem;
}

.azure-sm-banner-title div{
    font-weight: 600;
    font-size: 0.75rem;
    line-height: 1rem;
    letter-spacing: 0.08em;
    font-family: latest-bold;
}

.banner-main-title{
    color: #0e1726;
    margin: 0;
    font-weight: 600;
    font-size: 3rem;
    line-height: 3.5rem;
    letter-spacing: -0.05em;
}

.banner-main-title h1{
    font-weight: 600;
    font-size: 2rem;
    line-height: 2.5rem;
    letter-spacing: -0.05em;
    margin-bottom: 0;
    font-family: latest-bold;
}


.banner-contents{
    color: #17253d;
    margin: 0.75rem 0 0;
    font-weight: 400;
    font-size: 1.125rem;
    line-height: 1.75rem;
    letter-spacing: -.03em;
    font-family: latest-medium;

}

.banner-contents div br{
    display: none;
}

.banner-buttons{
    margin:  1.5rem 0 0;
}

.banner-buttons-container{
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
}


.banner-buttons-container a{
    border: 2px solid transparent;
    padding: 0.75rem;
    justify-content: center;
    font-weight: 600;
    font-size: .9375rem;
    line-height: 1.375rem;
    letter-spacing: -0.02em;
    background-color: #0078d4;
    color: white;
    display: inline-block;
    position: relative;
    text-decoration: none;
    cursor: pointer;
    border-radius: 0.5rem;
}

.banner-buttons-container  a span{
    padding-bottom: 0.125rem;
    display: block;
    text-align: center;
    font-family: latest-bold;
}

.try-azure{
    border: 2px solid #89c402 !important;
    background-color: #89c402 !important;
    color: #000 !important;
}

.banner-content-layout{
    flex: 0 0 var(--layout-column-width)
}


.row-section-spacer{
    margin-top: 4rem;
    margin-inline-end: 0;
    display: flex;
    flex-wrap: wrap;
    margin-right: -0.25rem;
    margin-left: -0.25rem;
}

.row-section-spacer div{
    display: flex;
    flex-direction: column;
    gap: 2rem;
    align-items: normal;
    flex-basis: 0;
    flex-grow: 1;
    max-width: 100%;
}



/* ----------------------sticky------------------------------- */


.main-sticky-container{
    height: 56px;
    margin-top: 0px;
    z-index: 500;
    top: 0;
    position: sticky;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;

}

.secondary-nav nav{
    align-items: center;
}

.sticky-drop-down{
    flex-grow: 1;
    box-shadow: none;
    overflow: initial;
    display: flex;
    background-color: #fefefe;
    position: relative;
}

.sticky-drop-down a{
    display: block;
    width: 100%;
    color: #0067b8;
    text-decoration: none;

}

.sm-sticky-positioner{
    padding: 0.75rem 0.75rem;
    column-gap: 0.5rem;
    display: flex;
    /* align-items: center; */
}

.sticky-title{
    flex-grow: 1;
    flex-direction: column;
    display: flex;
    row-gap: 0.25rem;
}

.sticky-title div{
    color: #004275;
    font-size: 0.75rem;
    font-weight: 600;
    line-height: 1rem;
    margin-bottom: 0;
    font-family: latest-bold;

}

.dropdown{
    align-self: self-end;

}

.dropdown-container{
    width: 100%;
    height: 100%;
    max-width: 100%;
    max-height: 100%;
    font-size: 1rem;
    display: inline-flex;
}

.dropdown-container span{
    transform: rotate(0);
    color: #0078d4;
}

.dropdown-container span::before{
    content: "";
    font-family: m-fluent;
    font-weight: 400;
    line-height: 1;
    color: #0078d4;
}

.sticky-ruler{
    position: absolute;
    bottom: 0;
    height: 0.25rem;
    width: 100%;
    background-color: #0078d4;
}

.sticky-drop-down ul{
    display: none;
}

.try-azure-sticky{
    display: none;
}
/* -----------------------------Media Query---------------------------------- */
@media screen and (max-width:540px){
    .banner-content-layout div{
        margin-left: initial;
        margin-right: initial;
    }

    .banner-content-row{
        margin-right: -.25rem;
        margin-left: -.25rem;
    }
}




@media screen and (max-width:859.98px){
    .banner-content-layout div{
        margin-left: initial;
        margin-right: initial;
    }

    .sticky-drop-down{
        margin: 0.25rem;
    }
}
@media screen and (max-width:859.98px){
    .banner-content-layout{
        margin-top: 2rem;
    }
}


@media screen and (min-width:540px){
    .banner-contents-container{
        padding-right: 4rem;
        padding-left: 4rem;
        
    }
    .banner-buttons-container{
        flex-direction: row;
    }

  
}

@media screen and (min-width:860px){
    
    .banner-container{
        padding-top: 6rem;
        padding-bottom: 6rem;
        height: 628px;
    }

    .banner-contents-container{
        max-width: 100vw;
        padding-right: 3.5rem;
        padding-left: 3.5rem;
    }

    .banner-content-row{
        margin-right: -.5rem;
        margin-left: -.5rem;
    }

    .banner-content-col{
        padding-right: .5rem;
        padding-left: .5rem;
    }

    .banner-main-layout{
        align-items: center;
        justify-content: initial;
        display: flex;
        flex-direction: row;
        column-gap: 1rem;
        row-gap: 0.5rem;
        margin-top: 7px;

    }

    .azure-sm-banner-title{
        margin: 0 0 1rem;
    }
    
    .banner-main-title h1{
        font-size: 2.5rem;
        line-height: 3rem;
        letter-spacing: -0.05em;
        margin-bottom: 0;
    }

    .banner-contents{
        margin: 1rem 0 0;
        
    }

    .banner-contents div{
        max-width: 656px;
    }

    .banner-buttons{
        margin: 2rem 0 0;
    }

    .banner-buttons-container a{
        padding: 0.75rem 1rem;
    }

    .main-sticky-container{
        height: 108px;
    }
    .sticky-drop-down a{
        display: none;
    }

    .sticky-drop-down ul{
        display: flex;
        column-gap: 3rem;
        overflow: hidden;
        box-shadow: none;
        background-color: #fefefe;
        border: none;
        text-align: left;
        left: 0;
        right: auto;
        transform: unset;
        flex-wrap: wrap;
        padding: 0 !important;
        position: relative;
        border-radius: 0;
        padding-bottom: 0.25rem !important;
        margin-top: 0;

    }

    .sticky-drop-down ul li{
        padding-left: 0.25rem;
        margin-top: 1rem;
        width: fit-content;
        display: flex;

    }

    .sticky-drop-down ul li a{
        display: flex;
        flex-direction: column-reverse;
        padding: 0;
        border-radius: 0;
        align-items: start;
        justify-content: space-between;
        width: fit-content;
        background-color: transparent;
        text-decoration: none;
        color: #0067b8;

    }

    .sticky-link-ruler{
        width: 100%;
        height: 0.25rem;
        margin-bottom: -0.25rem;
        border-radius: 0.25rem;
        background-color: #0078d4;
    }

    .sticky-content{
        width: 100%;
        padding-bottom: 16px;


    }

    .sticky-nav{
        padding-right: 3.5rem;
        padding-left: 3.5rem;
        display: flex;
        flex-grow: 1;
        flex-direction: column;
        font-weight: 600;
        font-size: 0.875rem;
        line-height: 1.25rem;
        color: #004275;
        font-family: latest-bold;
    }
    .sticky-content div{
        color: #004275;
    }

    .slr{
        background: transparent;
    }

    .try-azure-sticky{
        display: flex;
        margin-bottom: 0.75rem;
        margin-top: 0.75rem;
        max-width: 125.9px;
        height: 58px;
        width: 100%;

    }

    .try-azure-sticky a{
        transform: translateY(7px);
        background-color: #89c402;
        color: #000;
        border-color: #89c402;
        border: 2px solid #89c402;
        padding: 0.25rem 0.75rem;
        font-weight: 600;
        font-size: .9375rem;
        line-height: 1.375rem;
        letter-spacing: -.02em;
        border-radius: 0.5rem;
        display: inline-block;
        display: flex;
        cursor: pointer;
        /* height: 50px;
        width: 100px; */
    }

    .try-azure-sticky a span{
        padding-bottom: 0.125rem;
        display: block;
        text-align: center;
    }
}



@media screen and (min-width: 48em){

    header{
        max-width: 1600px;
        display: flex;
        align-items: center;
        margin-left: auto;
        margin-right: auto;
    }
    .mobile-nav-container{
        display: none;
    }


    .azure-desktop-nav{
        display: flex;
        align-items: center;
        width: 100%;
        position: relative;
        border-bottom: 1px solid transparent;
        overflow-x: unset;
        /* height: 55px; */

    }

    .left-nav{
        background-color: inherit;
        border: none;
        padding: 0 12px;
        width: auto;
        margin-right: auto;
        display: flex;
        align-items: center;

    }

    .azure-windows{
        display: flex;
        align-items: center;

    }

    .azure-windows a{
        background-color: transparent;
        color: currentColor;
        text-decoration: none;

    }

    .azure-windows a span{
        height: 24px;
        width: 24px;
        display: inline-block;
        vertical-align: middle;

    }

    .azure-windows a span svg{
        height: 100%;
        width: 100%;
        fill: currentColor;
        max-width: 100%;
        overflow: visible;
        vertical-align: unset;
        transform: translateY(1px);

    }

    .azure-heading{
        background-color: transparent;
        color: currentColor;
        text-decoration: none;
        margin-left: 12px;
        font-size: 18px;
        font-weight: 600;
        font-family: latest-bold;

    }

    .left-nav ul{
        list-style: none;
        margin: 0;
        background-color: inherit;
        display: inline-flex;
        margin-left: 12px;
        padding: 0;

    }

    .left-nav ul li{
        font-size: 14px;
        align-items: center;
        display: flex;
        line-height: 1;
        margin: 0;

    }

    .nav-list{
        width: initial;
        background-color: transparent;
        border: 0;
        text-align: left;
        font-family: latest-medium;
        font-size: 13px;
        padding: 20px 8px;
        align-items: center;
        justify-content: space-between;
        display: flex;
        font-weight: 400;

    }

    .nav-list::after{
        content: "\e70d";
        font-family: m-fluent;
        margin: 2px 0px 0px 4px;
        font-size: 8px;
        padding-top: 4px;
        float: right;
    }

    .nav-search-form{
        display: none;
    }

    .right-nav{
        position: relative;
        display: flex;
        align-items: center;

    }
    .option-btn-nav{
        background-color: transparent;
        border: 0;
        text-align: left;
    }

    .option-btn-nav span{
        height: 24px;
        width: 24px;
        display: inline-block;
        line-height: 0;
        vertical-align: middle;
    }

    .option-btn-nav span a{
        height: 100%;
        width: 100%;
        max-width: 100%;
        overflow: visible;
        vertical-align: unset;
    }

    .utility-nav{
        display: none;
    }

    .right-signin{
        border: 0;
        font-weight: 400;
        align-items: center;
        display: flex;
        line-height: 1;
        margin: 0;
    }

    .right-signin a{
        text-decoration: none;
        color: currentColor;
        background-color: transparent;
        font-size: 13px;
        padding: 20px 8px;
        text-align: right;
        white-space: nowrap;
        width: 100%;

    }
}





/* -------------------minwidth67.5em------------------- */


@media screen and (min-width:67.5em){
    .right-search{
        display: none;
    }

    .option-btn-nav{
        display: none;
    }

    .right-signin{
        display: none;
    }

    .azure-heading{
        margin-left: 24px;
    }

    .left-nav ul{
        margin-left: 24px !important;
    }

    .nav-search-form{
        display: flex;
        align-items: center;
        position: relative;
        margin-right: 12px;
        width: 120px;
        z-index: 1;
    }

    .search-form-container{
        width: 120px;
        position: relative;
        justify-content: flex-start;
        display: flex;
        align-items: center;

    }

    .search-form-container input{
        color: #4c4c51;
        font-size: 13px;
        padding-left: 12px;
        padding-right: 24px;
        min-height: 32px;
        border: 1px solid #747479;
        display: block;
        line-height: 1.2;
        width: 100%;
        font-family: latest-medium;
    }

    .search-btn{
        right: 8px;
        top: 1px;
        position: absolute;
        width: 24px !important;
        height: 24px;
    }

    .search-btn::after{
        font-size: 14px;
    }

    .utility-nav{
        position: relative;
        display: flex;
        align-items: center;

    }

    .utility-nav ul{
        list-style: none;
        margin: 0;
        padding: 0;
        display: flex;
        align-items: center;

    }

    .utility-nav ul li{
        border: 0;
        font-weight: 400;
        font-size: 14px;
        display: flex;
        align-items: center;
        line-height: 1;
        margin: 0;
    }

    .utility-nav ul li a{
        text-decoration: none;
        color: currentColor;
        font-size: 13px;
        text-align: center;
        padding: 20px 8px;
        font-weight: 400;
        font-family: latest-medium;
    }

    .free-green{
        background-color: #89c402;
        border: 1px solid #6f9e02;
        border-radius: 4px;
        color: #1a1a1f;
        display: inline-block;
        font-size: 12px;
        padding: 9px;
        line-height: 1;
        text-align: center;
        text-decoration: none;
        margin: 0 6px;
        font-weight: 600;
        line-height: 1;
        font-family: latest-bold;
    }

    .azure-desktop-nav{
        height: 54px;
    }
}



/* ------------------------------------1084px--------------------- */

@media screen and (min-width:1084px){

    .banner-contents-container{
        width: 90%;
        margin-right: auto;
        margin-left: auto;
        box-sizing: content-box;
    }
    
}



/* ------------------minwidth 1280px---------------------------- */

@media screen and (min-width:1280px){

    .nav-search-form{
        margin-right: 24px;
    }
}

@media screen and (min-width:1395px){
    .banner-container div br{
        display: block;
    }

}

/*--------------------------------1440px-------------------------- */

@media screen and (min-width:1440px){
    .banner-contents-container{
        max-width: 1328px;
    }
    .banner-main-layout{
        margin-top: 52px;
    }

    .banner-content-row{
        margin-right: -.5rem;
        margin-left: -.5rem;
    }

    .banner-content-col{
        padding-right: .5rem;
        padding-left: .5rem;
    }

    .azure-sm-banner-title{
        margin: 0 0 1rem;
    }

    .banner-main-title h1{
        font-size: 3rem;
        line-height: 3.5rem;
        letter-spacing: -0.05em;
    }

    .banner-contents{
        margin: 1rem 0 0;
        font-size: 1.25rem;
        line-height: 2rem;

    }
}